


<div class="page-header" style ="margin-top: 10px;">
  <h1 style="text-align:left;color:whitesmoke;font-variant:small-caps;font-family:fantasy;margin-left:20px;">Reports</h1>
</div>
<div class="settings_buttons" style ="width: 100%;">
  <%#=link_to "Swipe Card report",'/swipeCards/show',:class=>"jbtn"%>
  <%=link_to "Day Report",'/hotelsessions/day_report',:class=>"jbtn"%>
  <%=link_to "Reports",'/hotelsessions/inventory',:class=>"jbtn"%>
  
   
</div>
<%#*Requiring AJAX here....%>
<div id ="myDiv1" style ="float: left; margin-left: 100px;">
  
</div>
